<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <title>username Lister</title>
</head>
<body>
    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Recover Your Password</h3>
      
                  <form onsubmit="sendpassword(event)" method="POST" id="my-form" class="px-md-2">
                    <div class="msg"></div>


                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control" required/>
                        <label class="form-label" for="form3Example1q">Email</label>
                    </div>
      
                    <button type="submit" class="btn btn-success btn-md mb-1">Send Me Password</button>
      
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  <script src="forgetpassword.js">

  </script>
</body>
</html>